@import "src/assets/scss/variables.scss";

.wrapper {
  width: 100%;
  max-width: 1400px;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  padding: 0 1rem 0 1rem;
}

@media #{$media-query-m} {
  .wrapper {
    padding-left: 0;
    padding-right: 0;
  }
}

.content-wrapper {
  max-width: 720px;
}