@import "src/assets/scss/variables.scss";

.wrapper {
  padding-left: 2rem;
  padding-right: 2rem;
  width: 100%;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

@media #{$media-query-m} {
  .wrapper {
    padding-left: 0;
    padding-right: 0;
  }
}

.content-wrapper {
  max-width: 720px;
}